@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
  width: 90%;
  margin: auto;
}

h2 {
  display: inline;
}

header {
  padding: 20px 0;
  background-color: aqua;
  vertical-align: baseline;
  margin-bottom: 30px;
}

#library {
  background-color: salmon;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card */
.front {
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: antiquewhite;
  height: 250px;
  width: 150px;
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.front img {
  width: 125px;
  height: 180px;
}

.front p {
  padding: 0;
  margin: 0;
}

.front .title {
  font-weight: bold;
  font-size: 18px;
}

.front .subtitle {
  font-size: 14px;
}

/* 
Modal
Taken from: https://www.w3schools.com/howto/howto_css_modals.asp
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.wide {
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*
Tooltip
Taken from https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-content {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 65%;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
}

/* 
Goodreads reviews widget
Taken from Goodreads 

#goodreads-widget {
  font-family: georgia, serif;
  padding: 18px 0;
  width: 510px;
}
#goodreads-widget h1 {
  font-weight:normal;
  font-size: 16px;
  border-bottom: 1px solid #BBB596;
  margin-bottom: 0;
}
#goodreads-widget a {
  text-decoration: none;
  color:#660;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
  color:#660;
}
#gr_footer {
  width: 100%;
  border-top: 1px solid #BBB596;
  text-align: right;
}
#goodreads-widget .gr_branding{
  color: #382110;
  font-size: 11px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*/