.container {
  width: 90%;
  margin: auto;
}

h2 {
  display: inline;
}

header {
  padding: 20px 0;
  background-color: aqua;
  vertical-align: baseline;
  margin-bottom: 30px;
}

button#add {
  float: right;
}

#library {
  background-color: salmon;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 15px;
}

.card {
  background-color: antiquewhite;
  min-height: 20vw;
  text-align: center;
  border: 1px solid black;
}

.card img {
  width: 80%;
}